---
apiVersion: v1
kind: Service
metadata:
  name: {{ include "sortie.fullname" . }}
  namespace: {{ .Values.namespace }}
  labels:
    {{- include "sortie.labels" . | nindent 4 }}
    app.kubernetes.io/component: server
spec:
  type: {{ .Values.service.type }}
  ports:
    - name: http
      port: {{ .Values.service.port }}
      targetPort: http
      protocol: TCP
  selector:
    {{- include "sortie.serverLabels" . | nindent 4 }}
