@import "tailwindcss";

@theme {
  --color-brand-primary: #1F2A3C;
  --color-brand-secondary: #2B3445;
  --color-brand-accent: #636A51;
}

body {
  margin: 0;
  min-height: 100vh;
}

/* Dark mode support */
.dark {
  color-scheme: dark;
}
